# Build artifacts
target/
project/target/
project/project/

# Exclude output directories
tables/
reports/

# IDE configuration files
.idea/
*.iml
.bsp/

# OS-specific files
.DS_Store

# Input files to exclude
raceData.txt
